
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MWW</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/all-wineries.css}" >


</head>

<body>

<!--Header-->
<nav class="navbar navbar-expand-lg navbar-custom">
    <h1>Macedonian Wine World</h1>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color:white; font-size:28px;">&#9776;</span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/mww-wineries/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                <a class="nav-link" href="/mww-wineries/favorites">Favorites</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mww-wineries/contact">Contact</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"  class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"  class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>




<!--displayingFavorites-->
<h1>Favorite Winaries</h1><hr>

<div class="panel panel-primary" id="result_panel">
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="winery-list" >
                    <ul>
                        <li th:each="w : ${fav}"><a th:href="@{'/mww-wineries/info/{id}'  (id = ${w.id})}" th:value="${w.id}" th:text="${w.name}"></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>


</body>
</html>