

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Macedonian wineries</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <link rel="stylesheet" th:href="@{/mww-wineries.css}" >



</head>
<body >

<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-custom">
    <h1>Macedonian Wine World</h1>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color:white; font-size:28px;">&#9776;</span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/mww-wineries/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                <a class="nav-link" href="/mww-wineries/favorites">Favorites</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mww-wineries/contact">Contact</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"  class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"  class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>



<!-- Main -->


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 sidebar">
            <div class="search-box">
                <div id="form-div">
                    <form>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                        <input type="text" class="form-control" id="city" name="city" placeholder="City">
                        <button class="advanced-button" type="submit">
                            Search
                        </button>
                    </form>
                </div>

                <!-- Wineries-List -->
                <ul>
                    <li th:each="wn: ${wineries}">
                        <a th:href="@{'/mww-wineries/info/{id}'  (id = ${wn.id})}" th:value="${wn.id}" th:text="${wn.name}"></a>
                        <form method="post" th:action="@{'/mww-wineries/home/{id}/delete'   (id = ${wn.id})}" sec:authorize="hasRole('ROLE_ADMIN')">
                            <button class="cute-button" >Delete</button></form> </li>
                </ul>
            </div>
        </div>


        <!-- Map -->
        <div class="col-md-9">
            <div class="map-container">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>





<!--Js for map-->
<script>
    var map = L.map('map').setView([41.68599237401238, 21.692307980078947], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 8,
        attribution: '© OpenStreetMap Google Maps'
    }).addTo(map);

    var locations = [
        [42.00, 21.9],
        [41.77789988667311, 21.741033211450674],
        [41.492114673829775, 21.92676855071629],
        [42.000604166393934, 21.478539680777526],
        [41.95659744858741, 21.478238784528543],
        [41.49343678747044, 22.092511053764312],
        [ 41.41407284691888, 22.2334771654036],
        [41.411053946962916, 22.226564996088488]

    ];

    locations.forEach(function(location) {
        L.marker(location).addTo(map);
    });
</script>
</body>
</html>
